<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="F:\idea\projects\bishe\ServiceCluster\consumer\src\main\java\com\king\graduation\consumer\Entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>